/*
-------------------------
start top Header
------------------------
*/
.top-header {

  @media #{$min-medium} {
    margin-top: 30px;
  }

  .media {

    .circle-icon {
      @extend %circle;
      width: 26px;
      height: 26px;
      background-color: $water-blue;
      color: $white;
      text-align: center;

      i {
        font-size: 15px;
        line-height: 26px;
        text-align: center;
      }
    }

    .media-body {

      h5,
      p {
        font-family: OpenSans;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: normal;
        color: $brownish-grey
      }
    }
  }
}

/*
----------------------------------
start navbar header
----------------------------------
*/
.navbar-header {
  .navbar-nav {
    margin-top: 0;
    padding-top: 0;

    .nav-item {
      color: $brownish-grey-two;
    }

    .active {
      color: $black
    }

  }

  .navbar-toggler {
    outline: none;
  }

  .social-media {
    @media #{$min-medium} {
      margin-top: 16px;
      text-align: right;
    }

    @media #{$max-small} {
      text-align: right;
      margin-top: 15px;
    }

    .list-inline-item {
      a {
        color: $black-two;
      }
    }
  }
}



/*
----------------------------------
start banner-img
----------------------------------
*/
.banner-img {
  position: relative;

  .card {
    img {
      @media #{$max-mobile} {
        height: 200px;
      }
    }

    .card-img-overlay {
      @media #{$min-small} {
        top: 25%;
        right: 30%;
        text-align: center;
        color: $greyish-brown;
      }

      @media #{$max-small} {
        top: 10%;
      }

      @media #{$max-mobile} {
        top: 0;
        right: 0;
        color: $greyish-brown;
        text-align: center;
      }

      .card-title {

        @media #{$min-small} {
          font-family: Montserrat;
          font-size: 40px;
          font-weight: bold;
          letter-spacing: -0.6px;
        }

        @media #{$max-mobile} {
          font-size: 20px;
        }
      }

      .card-text {
        @media #{$min-small} {
          font-family: OpenSans;
          font-size: 20px;
          line-height: 1.76;
          color: $greyish-brown-two;
        }

        @media #{$max-mobile} {
          font-size: 13px;
        }
      }

      a {
        border-radius: 7.5px;
        box-shadow: -1.8px 5.7px 20px 0 rgba(0, 1, 1, 0.2);
        background-color: $water-blue;
        font-family: Lato;
        font-weight: bold;
        letter-spacing: 0.23px;
        text-align: center;
        outline: none;
        border: 0;
        -webkit-border-radius: 7.5px;
        -moz-border-radius: 7.5px;
        -ms-border-radius: 7.5px;
        -o-border-radius: 7.5px;

        @media #{$max-mobile} {
          font-size: 12px;
        }
      }
    }
  }
}

/*
----------------------------------
start services header
----------------------------------
*/
.services {
  color: #ffffff;

  .row {
    .col-12 {
      &:first-of-type {
        background-color: $dark-sky-blue;
      }

      &:nth-of-type(2) {
        background-color: $greeny-blue;
      }

      &:nth-of-type(3) {
        background-color: $greeny-blue-two;
      }

      &:last-of-type {
        background-color: $greenish-teal;
      }

      .card {
        background-color: transparent;
        padding-top: 50px;
        padding-bottom: 30px;
        border: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

        .icon-services {
          @extend %circle;
          width: 50px;
          height: 50px;
          background-color: $white;
          color: $black;
          margin: 0 auto;

          i {
            text-align: center;
            line-height: 50px;
          }
        }
      }
    }
  }
}