$white:#fff;
$water-blue: #1a9bdc;
$brownish-grey: #6a6a6a;
$black: #262626;
$black-two:#191919;
$brownish-grey-two: #6c6c6c;
$greyish-brown:#474747;
$greyish-brown-two: #3f3f3f;
$dark-sky-blue: #43b1d2;
$greeny-blue: #3fb6c6;
$greeny-blue-two: #3cbbbb;
$greenish-teal: #37c3a8;
$greyish-brown-three:#494949;
$medium-grey:#6f6f6e;
$cerulean:#0087be;
$black-three:#171717;
$white-51:rgba(255, 255, 255, 0.51);
$greyish-brown-four:#615555;
$black-four:#1a1a1a;

$left:left;
$right:right;

$max-mobile:"(max-width:767px)";

$max-small:"(max-width:991px)";

$min-small:"(min-width:768px)";

$min-medium:"(min-width:992px)";

$min-large:"(min-width:1200px)";